$body-background: #c8d6e5;
$background-1: #5f27cd;
$background-2: #222f3e;
$background-3: #ff6b6b;
$text-white: #ffffff;
$procedural: #ff3831;
$object-oriented: rgb(116, 245, 23);
$pdo: rgb(250, 231, 25);

$terminal-header-bg: #576574;
$terminal-header-bg:#222f3e;
$terminal-output-bg: #222f3e;
$terminal-output-bg:black;
$terminal-output-color: #48dbfb;
$terminal-output-color:#0be881;
// $terminal-output-color:#fe7ffe;
// $terminal-output-color:#ff00ff;
